{% extends "base.html" %}
{% block start %}

<div class="content_wrapper" id="app">
	<div v-if="infos.city">
		<h1>
			Weather
			<div class="date"></div>
		</h1>

        <form class="" method="get">
            <input class="form-control" type="" name="city" id="city" placeholder="Enter city name" style="width:300px;height:30px;border-radius: 10px;">
            <button class="btn" type="submit">Submit</button>
           <br> <br><br><hr><br><br>
        </form>

		<div class="weather_card">
			<div class="weather_card_img" :style="{background-color: black ;}">
				<div class="weather_card_state">
					<span class="material-icons">
                        <img src="http://openweathermap.org/img/wn/{{data.icon}}.png">
					
					</span>
				</div>
			</div>

			<div class="weather_card_infos">
				<div class="weather_card_infos_title">
                    {{data.city}},
                    {{data.description}}
				</div>
				<div class="weather_card_infos_temp">
				{{data.celcius_temperature}}°C / {{data.kelvin_temperature}}°K
				</div>
				<div class="bottom">
					<hr>
					<div class="weather_card_infos_bottom">
                        humidity: {{data.humidity}} - pressure: {{data.pressure}}Pa
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}